#inscription form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#inscription form label{
    margin: 5px;
    justify-content: space-between;
}

#inscription .languages{
    display: flex;
}

input {

}