.flex-inscription {
    border: 10px double rgba(0,0 , 0, 0.2);
    text-align: center;
    background-image: linear-gradient(118deg, rgb(0 0 0 / 50%), transparent)
}

.flex-inscription p {
    padding: 8px;
}

#inscription button {
    height: 22px;
    width: 45px;
}

#inscription form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#inscription form label{
    margin: 5px;
    justify-content: space-between;
}

#inscription .Jeux{
    flex-direction: column;
    display: flex;
}
