.flex-inscription {
    background-color: rgba(0,0 , 0, 0.2);
    border: 10px double rgba(0,0 , 0, 0.2);
    text-align: center;
}

#inscription form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#inscription form label{
    margin: 5px;
    justify-content: space-between;
}

#inscription .Jeux{
    flex-direction: column;
    display: flex;
}
