html {
  scroll-behavior: smooth;
}

/*body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}*/

body,
section {
  margin: 0;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/***************************************** MENU *******/

.menu {
  height: 50px;
  background-color: #1d232d;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu a {
  display: flex;
  text-decoration: none;
  color: white;
  text-align: center;
  align-items: center;
}
.menu a:visited {
  color: rgb(255, 255, 255);
}

#accueil {
  background-color: #375b41;
}
#inscription {
  background-color: #647e6b;
}
#tableau {
  background-color: #58576f;
}
#articles {
  background-color: #9fa4c2;
}
#galerie {
  background-color: #463734;
}
#video {
  background-color: #5d3f39;
}
#pied-de-page {
  background-color: #de603d;
}

/************************************************/
